.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card {
        margin: 2em 0;
        
        .card-inner {
            overflow: hidden;
            border-radius: 6px;
            border: 1px solid lightgray;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;        
        }

        .image {
            width: 100%;
            aspect-ratio: 4/3;
            flex: none;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }

        & .content {
            padding: 0 2ch;
            margin-top: 1lh;
            flex: 1 0 max-content;
            
            &:last-child {
                margin-bottom: 1lh;
            }

            & > * {
                margin-bottom: 1lh;
            }
        }

        & .header {
            font-size: 150%;
            font-weight: bolder;
        }

        & .meta {
            color: grey;
        }

        & .extra {
            color: grey;
        }

        & .extra {
            flex: none;
        }

        & .description {
            font-size: 125%;
            max-width: 75ch;
        }

        .icon {
            display: inline-block;
            opacity: 1;
            margin: 0 0.25rem 0 0;
            width: 1.18em;
            height: 1em;
            font-family: Icons;
            font-style: normal;
            font-weight: 400;
            text-decoration: inherit;
            text-align: center;
            backface-visibility: hidden;

            &::before {
                content: "👤";
            }
        }
    }

    .card {
        flex-grow: 0;
        flex-shrink: 1;
    }

    &[data-columns="1"] {
        .card {
            flex-basis: auto;
        }
    }

    &[data-columns="2"] {
        .card {
            flex-basis: calc(100% / 3 + 1%);
        }
    }

    &[data-columns="3"] {
        .card {
            flex-basis: calc(100% / 4 + 1%);
        }
    }

    &[data-columns="4"] {
        .card {
            flex-basis: calc(100% / 5 + 1%);
        }
    }

    .card {
        view-timeline-name: --cardRevealTimeline;
    }

    .card-inner {
        animation-timeline: --cardRevealTimeline;

        animation-name: cardRevealAnimation;
        animation-fill-mode: both;
        animation-timing-function: ease-out;
        animation-duration: 1ms; /* Firefox requires this to apply the animation */
        animation-range-start: entry 20%;
        animation-range-end: entry 60%;
    }
}

@keyframes cardRevealAnimation {
    from {
        opacity: 0;
        transform: translateY(20%) rotateZ(-5deg);
    }
    
    to {
        opacity: 1;
        transform: translateY(0) rotateZ(0deg);
    }
}