/* Palm tree stuff */
:root {
  --palm-color: rgb(20, 255, 0);
  --palm-background-color: rgb(4, 12, 59);
  --palm-tree-path-length: 78865;
}

.palm-scene-section {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  
  container-name: palmscenecontainer;
  animation: palmtreeanimationtrigger linear;
  animation-range: entry 0% exit 100%;
  animation-timeline: view();
}

#PalmTreeSVG {
  width: clamp(200px, 75vw, 1500px);
  flex: 0 0 auto;
  filter:
    drop-shadow(4px 4px 4px var(--palm-color))
    drop-shadow(0px 0px 4px var(--palm-color))
    drop-shadow(-4px -4px 4px var(--palm-color));
}

#PalmTreePath {
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: var(--palm-color);
  stroke-width: 50px;
  transform: scale(0.98) translate(0, 1%);

  stroke-dasharray: var(--palm-tree-path-length);
  stroke-dashoffset: var(--palm-tree-path-length);

  --animation-trigger: false;
}

@container palmscenecontainer style(--animation-trigger: true) {
  #PalmTreePath {
    animation: palmtree 4s cubic-bezier(0.42, 0, 0.4, 1) forwards;
  }
}

@keyframes palmtree {
  0% {
    stroke-dashoffset: var(--palm-tree-path-length);
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* Sun stuff */
:root {
  --sun-color: rgb(255, 225, 0);
  --sun-path-length: 195;
}

#SunSVG {
  width: clamp(100px, 25vw, 500px);
  flex: 0 0 auto;
  --shadow-offset: 3px;
  --shadow-spread: calc(var(--shadow-offset) * 4);
  filter:
    drop-shadow(var(--shadow-offset) var(--shadow-offset) var(--shadow-spread) var(--sun-color))
    drop-shadow(0px 0px var(--shadow-spread) var(--sun-color))
    drop-shadow(calc(var(--shadow-offset) * -1) calc(var(--shadow-offset) * -1) var(--shadow-spread) var(--sun-color));
}

#SunPath {
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: var(--sun-color);
  stroke-width: 0.5px;
  
  stroke-dasharray: var(--sun-path-length);
  stroke-dashoffset: var(--sun-path-length);
}

@container palmscenecontainer style(--animation-trigger: true) {
  #SunSVG {
    animation: sunmove 3.5s cubic-bezier(0.42, 0, 0.4, 1) forwards;
  }
  #SunPath {
    animation: sunoutline 6s cubic-bezier(0.42, 0, 0.4, 1) forwards;
  }
}

@keyframes sunoutline {
  0% {
    stroke-dashoffset: var(--sun-path-length);
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes sunmove {
  0% {
    opacity: 0;
    transform: translate(-30vw, 30vh);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(-10vw, -20vh);
  }
}

/* HERE'S THE ✨ MAGIC ✨ */
@keyframes palmtreeanimationtrigger {
  0% {
    --animation-trigger: false;
  }
  1% {
    --animation-trigger: true;
  }
  99% {
    --animation-trigger: true;
  }
  100% {
    --animation-trigger: false;
  }
}
