.parallax-section {
    view-timeline-name: --parallaxSectionTimeline;
    
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 100vw;
    height: 100vh;
    overflow: hidden;

    & h2 {
        grid-row-start: 1;
        grid-row-end: -1;
        grid-column: 1 / -1;
        z-index: 1;
        font-size: 10vw;
        font-weight: normal;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.5);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 1);
    }
    
    & .parallax-subject {
        z-index: 0;
        grid-row-start: 1;
        grid-row-end: -1;
        grid-column: 1 / -1;
        
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 100%;

            animation-timeline: --parallaxSectionTimeline;
            animation-name: parallaxAnimation;
            animation-fill-mode: both;
            animation-timing-function: linear;
            animation-duration: 1ms;
            animation-range-start: entry 0%;
            animation-range-end: exit 100%;    
        }
    }
}

@keyframes parallaxAnimation {
    from {
        object-position: 50% 70%;
    }
    to {
        object-position: 50% 30%;
    }
}