/* Pure CSS */
:root {
  --headline-color: rgb(255, 255, 237);
}

.pure-css-section {
  position: relative;

  --glow-offset: 0.5vw;
  --blink-off:
    drop-shadow(0 0 0 var(--headline-color))
    drop-shadow(0px 0px 0 var(--headline-color))
    drop-shadow(0 0 0 var(--headline-color));
  --blink-on:
    drop-shadow(var(--glow-offset) var(--glow-offset) var(--glow-offset) var(--headline-color))
    drop-shadow(0px 0px var(--glow-offset) var(--headline-color))
    drop-shadow(calc(-1 * var(--glow-offset)) calc(-1 * var(--glow-offset)) var(--glow-offset) var(--headline-color));
}

.this-is-wrapper {
  height: 100vw;
}

.this-is-headline {
  font-family: 'Lobster';
  font-size: 10vw;
  text-shadow: -3px 0px 3px var(--headline-color), 0px -3px 3px var(--headline-color), 3px 0px 3px var(--headline-color), 0px 3px 3px var(--headline-color);
  color: var(--background-color);
  position: sticky;
  top: 50%;
  left: 5vw;
  transform: translate(15vw, -50%);
}

.pure-css-wrapper {
  width: 96vw;
  height: 100vh;
  margin-left: 2vw;

  transform: scale3d(1, 1, 1) translateY(-17vh);

  animation-name: purecssscale;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-range: entry 45% exit 100%;
  animation-timeline: view();

  &::before {
    counter-reset: variable var(--variable);
    content: counter(variable);
    position: absolute;
    top: 10vh;
    left: 50%;
    font-size: 16px;
    color: white;
  }
}

#PureCssSVG {
  filter: var(--blink-on);

  animation-name: purecssblink;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

#PureCssPath {
  fill-rule: evenodd;
  fill: none;
  stroke: var(--headline-color);
  stroke-linecap: round;
  stroke-width: calc(var(--glow-offset) / 5);
}

@keyframes purecssblink {
  0% {
    filter: var(--blink-off);
    opacity: 0;
  }
  5% {
    filter: var(--blink-on);
    opacity: 1;
  }
  10% {
    filter: var(--blink-on);
    opacity: 1;
  }
  13% {
    filter: var(--blink-off);
    opacity: 0;
  }
  18% {
    filter: var(--blink-on);
    opacity: 1;
  }
  25% {
    filter: var(--blink-on);
    opacity: 1;
  }
  30% {
    filter: var(--blink-off);
    opacity: 0;
  }
  32% {
    filter: var(--blink-on);
    opacity: 1;
  }
  35% {
    filter: var(--blink-on);
    opacity: 1;
  }
  37% {
    filter: var(--blink-off);
    opacity: 0;
  }
  45% {
    filter: var(--blink-on);
    opacity: 1;
  }
  100% {
    filter: var(--blink-on);
    opacity: 1;
  }
}

@keyframes purecssscale {
  0% {
    transform: scale3d(1, 1, 1) translateY(-17vh);
    counter-reset: variable 0;
    opacity: 1;
  }
  10% {
    counter-reset: variable 10;
    opacity: 1;
  }
  20% {
    transform: scale3d(1, 1, 1) translateY(-17vh);
    counter-reset: variable 20;
    opacity: 1;
  }
  30% {
    counter-reset: variable 30;
    opacity: 1;
  }
  40% {
    counter-reset: variable 40;
    opacity: 1;
  }
  50% {
    transform: scale3d(1, 1, 1) translateY(55vh);
    counter-reset: variable 50;
    opacity: 1;
  }
  60% {
    transform: scale3d(1, 1, 1) translateY(65vh);
    counter-reset: variable 60;
    opacity: 1;
  }
  70% {
    counter-reset: variable 70;
    opacity: 1;
  }
  80% {
    counter-reset: variable 80;
    opacity: 1;
  }
  90% {
    counter-reset: variable 90;
    opacity: 1;
  }
  100% {
    transform: scale3d(5, 5, 1) translateY(50vh);
    counter-reset: variable 100;
    opacity: 0;
  }
}
