:root {
  --background-color: rgb(30, 30, 30);
  --headline-color: rgb(255, 255, 237);
}

body {
  background-color: var(--background-color);
  color: var(--headline-color);
}

section {
  height: 100vh;
  border-top: 1px dotted #ccc;
}

/* body:hover section {
  border-top: 1px none #ccc;
} */

#Element {
  position: absolute;
  width: 90vw;
  margin-left: 5vw;
  height: 50vh;
  color: var(--background-color);
  background: var(--headline-color);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

#Element {
  animation-name: changePosition;
  animation-duration: 1ms;
  animation-timeline: scroll();
}

@keyframes changePosition {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -100vh;
  }
  100% {
    bottom: -200vh;
  }
}



.measuring {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg,
  rgba(30,30,30,0) 0%,
  rgba(255,255,255,0.3) 0.1%,
  rgba(30,30,30,0) 0.2%,

  rgba(30,30,30,0) 10%,
  rgba(255,255,255,0.3) 10.1%,
  rgba(30,30,30,0) 10.2%,

  rgba(30,30,30,0) 20%,
  rgba(255,255,255,0.3) 20.1%,
  rgba(30,30,30,0) 20.2%,

  rgba(30,30,30,0) 30%,
  rgba(255,255,255,0.3) 30.1%,
  rgba(30,30,30,0) 30.2%,

  rgba(30,30,30,0) 40%,
  rgba(255,255,255,0.3) 40.1%,
  rgba(30,30,30,0) 40.2%,

  rgba(30,30,30,0) 50%,
  rgba(255,255,255,1) 50.1%,
  rgba(30,30,30,0) 50.2%,

  rgba(30,30,30,0) 60%,
  rgba(255,255,255,0.3) 60.1%,
  rgba(30,30,30,0) 60.2%,

  rgba(30,30,30,0) 70%,
  rgba(255,255,255,0.3) 70.1%,
  rgba(30,30,30,0) 70.2%,

  rgba(30,30,30,0) 80%,
  rgba(255,255,255,0.3) 80.1%,
  rgba(30,30,30,0) 80.2%,

  rgba(30,30,30,0) 90%,
  rgba(255,255,255,0.3) 90.1%,
  rgba(30,30,30,0) 90.2%,

  rgba(30,30,30,0) 99.9%,
  rgba(255,255,255,0.3) 100%,
  rgba(30,30,30,0) 100.1%
  );

}