/* Style Query stuff */
.test-style-section {
  display: flex;
  align-items: center;
  justify-content: center;

  container-name: teststylecontainer;

  background-color: black;
  --background: black;

  animation: stylecontainertest linear;
  animation-range: entry 0% exit 100%;
  animation-timeline: view();
}

.foo {
  color: white;
}

@container teststylecontainer style(--background: white) {
  .foo {
    color: black;
  }
}

@keyframes stylecontainertest {
  0% {
    background-color: black;
    --background: black;
  }
  100% {
    background-color: white;
    --background: white;
  }
}
