/* Fade to white */
.fade-to-white-section {
  --gradient-color-start: rgb(250 176 185);
  --gradient-color-mid: rgb(128 106 168);
  --gradient-color-end: rgb(15 24 67);
  --top-offset: 0vh;

  position: relative;
  font-family: 'Lobster';
  font-size: clamp(20px, 5vw, 80px);
  color: var(--headline-color);
  z-index: -1;
  
  container-name: fadetowhitesection;
  animation: fadetowhite;
  animation-range: entry 50% exit 100%;
  animation-timeline: view();
}

.fade-to-white-section::before {
  content: '';
  display: flex;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: var(--top-offset);
  transition: top 0.2s linear;
  background: linear-gradient(180deg,
    transparent 0%,
    transparent 15%,
    var(--headline-color) 25%,
    var(--headline-color) 30%,
    var(--gradient-color-start) 50%,
    var(--gradient-color-mid) 70%,
    var(--gradient-color-end) 95%,
    var(--background-color) 100%
  );
}

.fade-to-white-section aside {
  position: fixed;
  bottom: -3ch;
  right: 1ch;
  transition: bottom 0.25s ease-in-out;
}

@container fadetowhitesection style(--aside-visible: true) {
  .fade-to-white-section aside {
    bottom: 0.5ch;
  }
}

@keyframes fadetowhite {
  0% {
    --aside-visible: false;
  }
  45% {
    --aside-visible: true;
  }
  70% {
    --aside-visible: false;
  }
  100% {
    --aside-visible: false;
    }
}