:root {
  --background-color: rgb(20, 20, 20);
  --light-background-color: rgb(230, 230, 230);

  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
}

section {
  min-height: 100vh;
  border: 1px solid black;
}

footer {
  min-height: 100vh;
  background-color: rgba(50, 50, 50, 1);

  .content {
    color: white;
    max-width: 100ch;
    margin: 0 auto;
    padding: 2vmin;
    font-size: clamp(1.1rem, 2vh, 24px);

    & h1 {
      margin: 1lh 0;
      margin-left: -1vw;
    }

    & dl {
      display: grid;
      grid-template-columns: max-content 3fr;
      grid-column-gap: 5ch;
      line-height: 1.3lh;
      /* column-count: 2;
      column-gap: 5ch;
      column-rule: 1px dotted; */
    }

    & code {
      background-color: rgba(0, 0, 0, 0.2);
      padding: 0 0.5ch;
    }

    & dt {
      font-size: 150%;
      margin-bottom: 0.5lh;
      margin-top: 2.5lh;
      color: var(--background-color);
      background-color: var(--light-background-color);
      height: min-content;
      padding: 0.2lh 2ch;
      text-align: end;
    }

    & dd {
      padding: 2lh 0 2lh 0;
      border-bottom: 1px dotted;

      & a {
        margin-top: 0.5lh;
        display: block;
        color: white;
        text-underline-offset: 0.2lh;
      }

      & p {
        margin: 0.75lh 0;
      }
    }
  }
}

@supports not (view-timeline-name: --foo) {
  main {
    display: none;
  }

  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body::before {
    content: 'Your browser does not support `view-timeline`. Please try the latest version of Chrome.';
    padding: 2ch;
    color: var(--light-background-color);
    font-size: 32px;
    line-height: 2ch;
    font-size: clamp(32px, 4vw, 100px);
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  footer .content dl {
    column-count: 1;
  }
}
