.parallax-section {
    view-timeline-name: --parallaxSectionTimeline;
    position: relative;
    height: 100vh;
    overflow: hidden;

    & h2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        font-size: 10vw;
        font-weight: normal;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.5);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 1);
    }

    & .parallax-subject {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150vh;
        z-index: 0;
        transform: translate3d(0, -50vh, 0);

        animation-timeline: --parallaxSectionTimeline;
        animation-name: parallaxAnimation;
        animation-fill-mode: both;
        animation-timing-function: linear;
        animation-duration: 1ms;
        animation-range-start: entry 0%;
        animation-range-end: exit 100%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;

        }
    }
}

@keyframes parallaxAnimation {
    from {
        transform: translate3d(0, -50vh, 0);
    }

    to {
        transform: translate3d(0, 0vh, 0);
    }
}