.fixed-section {
    view-timeline-name: --fixedSectionTimeline;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;
}

.fixed-subject {
    flex: 1 1 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    color: var(--light-background-color);

    animation-timeline: --fixedSectionTimeline;

    animation-name: fixedElementAnimation;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-duration: 1ms;
    animation-range-start: entry 100%;
    animation-range-end: exit 100%;
}

.fixed-subject .subtitle {
    font-size: clamp(16px, 20%, 32px);
    margin-bottom: -1lh;
    font-variant: all-small-caps;
    font-style: italic;
}

@keyframes fixedElementAnimation {
    0% {
        transform: translateY(-30%);
    }
    30% {
        transform: translateY(30%);
    }
    100% {
        transform: translateY(100%);
    }
}