.filigree-section {
    position: relative;
    /*
    You can get the path length via JavaScript:
    `myPathSelector.getTotalLength();`
    */
    --filigree-path-length: 283984;
    --filigree-triggered: no;
    --filigree-fill: transparent;

    view-timeline-name: --filigreeSectionTimeline;

    container-name: filigreeContainer;
    container-type: normal;

    animation-timeline: --filigreeSectionTimeline;
    animation-name: filigreeTriggerAnimation;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-duration: 1ms;
    animation-range-start: entry 0%;
    animation-range-end: entry 100%;
}

#FiligreeSVG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#FiligreePath {
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: none;
    stroke: rgb(222, 178, 0);
    stroke-width: 100px;
    transform: scale(1.3) translateX(-11.5%) translateY(0%);
    
    stroke-dasharray: var(--filigree-path-length);
    stroke-dashoffset: var(--filigree-path-length);
}

/* @keyframes filigreeAnimation {
    from {
        stroke-dashoffset: var(--filigree-path-length);
    }
    to {
        stroke-dashoffset: 0;
    }
} */

@keyframes filigreeTriggerAnimation {
    0% {
        --filigree-triggered: no;
        --filigree-fill: transparent;
    }
    10% {
        --filigree-triggered: no;
        --filigree-fill: transparent;
    }
    50% {
        --filigree-triggered: yes;
        --filigree-fill: transparent;
    }
    95% {
        --filigree-triggered: yes;
        --filigree-fill: transparent;
    }
    100% {
        --filigree-triggered: yes;
        --filigree-fill: rgb(255, 211, 37);
    }
}

@container filigreeContainer style(--filigree-triggered: yes) {
    #FiligreePath {
        stroke-dashoffset: 0;
        transition: all 5s ease-in-out, fill 8s ease-out;
        fill: var(--filigree-fill);
    }
}